<html lang="en">

<%- include("./partials/head.ejs")%>
<body>
  
<%- include("./partials/nav.ejs")%>

  <h1>Home EJS | <%=title %></h1>
  <h2>Your path to becoming a Node.js ninja!</h2>

  <div class="blogs content">
    <h2>All BLogs</h2>
    <div>
     <% if(blog.length > 0 ){ %>
      <% blog.forEach(blog=>{%>
        <a href="/blogs/<%=blog._id%>" class="single">
          <h3 class="title"><%=blog.title%></h3>
          <p class="snippet"><%=blog.snippet%></p>  
        </a>
      <% }) %>
     <% } 
        else{ %>
        <h3 class="title">No Blogs To Display</h3>
    <%    } %>
    </div>
  </div>
</body>


<%- include("./partials/footer.ejs")%>
</html>